<div class="jumbotron">

    <h1 class="display-4">Eat-Da-Burger!</h1>

    {{!-- insert image --}}

</div>

<div class="container">

    <h3>Available Burgers</h3>

    <ul>
        {{#each burgers}}
            {{#unless devoured}}
            <div>

                <div class="buger-name">{{name}}</div>
                <button data-burger="{{name}}" class="deleteBurger"></button>

            </div>
            {{/unless}}

        {{/each}}
    </ul>

    <h3>Eaten burger</h3>

    <ul>

        {{#each burgers}}

            {{#if devoured}}

            <div>{{name}}</div>

            {{/if}}
        {{/each}}
    </ul>

    <form class="create-form">

        <div class="form-group">

            <input type="text" id="createBurger" name="name" placeholder="Make a burger!">

        </div>

        <button type="submit">Create Burger!</button>
    </form>

</div>