<div class="jumbotron">

    <h1 class="display-4">Eat-Da-Burger!</h1>

    {{!-- insert image --}}

</div>

<div class="container">

    <ul>
        {{#each burgers}}

            <div>

                <div class="buger-name">{{name}}</div>
                <button data-burger="{{name}}" class="deleteBurger"></button>

            </div>

        {{/each}}
    </ul>

    <ul>

        {{#each }}
            <div></div>
    </ul>

</div>